@tailwind base;
@tailwind components;
@tailwind utilities;



body {
padding:0;
margin:0;
font-family: theme('fontFamily.sans');
background-color: theme('colors.black');
color:theme('colors.white');
font-size:theme('fontSize.normal');
}
html{
  box-sizing:border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
h1,h2,h3{
  margin:0;
}
a{
  color:theme('colors.magneta');
  text-decoration:underline;
}
a:hover{
  color:theme('colors.hotmag');
  text-decoration:none;
}
